In [2]:
import pandas as pd
import numpy as np
import os

In [17]:
os.makedirs("outputs", exist_ok=True)

In [19]:
# Step 1: Import required libraries
import os
import requests
import pandas as pd

# Step 2: Create the data directory if it doesn't exist
os.makedirs("data", exist_ok=True)

# Step 3: Define the URL and file path
titanic_url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
titanic_file_path = "data/titanic.csv"

# Step 4: Download the file if it doesn't exist
if not os.path.exists(titanic_file_path):
    print(f"Downloading {titanic_url} to {titanic_file_path}")
    response = requests.get(titanic_url)
    response.raise_for_status()  # Check for errors
    with open(titanic_file_path, "wb") as f:
        f.write(response.content)
    print("Download complete.")
else:
    print("Titanic file already exists. Skipping download.")

# Step 5: Read the CSV file
df = pd.read_csv(titanic_file_path)

# Step 6: Display first 5 rows
print(df.head())

Titanic file already exists. Skipping download.
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [21]:
df.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [25]:
print("Dataset Shape:", df.shape)
print("\nColumn Names:\n", df.columns.tolist())

Dataset Shape: (891, 12)

Column Names:
 ['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']

In [27]:
import os
import pandas as pd

# Create outputs folder if it doesn't exist
os.makedirs("outputs", exist_ok=True)

# Write df.info() directly into a file
with open("outputs/dataset_info.txt", "w") as f:
    df.info(buf=f)

# Print info on screen also
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [29]:
import os
import pandas as pd
from io import StringIO

# Create outputs folder
os.makedirs("outputs", exist_ok=True)

# Create string buffer
buffer = StringIO()

# Capture df.info()
df.info(buf=buffer)

# Write buffer content to file
with open("outputs/dataset_info.txt", "w") as f:
    f.write(buffer.getvalue())

# Display info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [31]:
describe_df = df.describe(include="all")
describe_df.to_csv("outputs/describe_summary.csv")
describe_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,891.000000,891.000000,891.000000,891,891,714.000000,891.000000,891.000000,891,891.000000,204,889
unique,NaN,NaN,NaN,891,2,NaN,NaN,NaN,681,NaN,147,3
top,NaN,NaN,NaN,"Dooley, Mr. Patrick",male,NaN,NaN,NaN,347082,NaN,G6,S
freq,NaN,NaN,NaN,1,577,NaN,NaN,NaN,7,NaN,4,644
mean,446.000000,0.383838,2.308642,NaN,NaN,29.699118,0.523008,0.381594,NaN,32.204208,NaN,NaN
std,257.353842,0.486592,0.836071,NaN,NaN,14.526497,1.102743,0.806057,NaN,49.693429,NaN,NaN
min,1.000000,0.000000,1.000000,NaN,NaN,0.420000,0.000000,0.000000,NaN,0.000000,NaN,NaN
25%,223.500000,0.000000,2.000000,NaN,NaN,20.125000,0.000000,0.000000,NaN,7.910400,NaN,NaN
50%,446.000000,0.000000,3.000000,NaN,NaN,28.000000,0.000000,0.000000,NaN,14.454200,NaN,NaN
75%,668.500000,1.000000,3.000000,NaN,NaN,38.000000,1.000000,0.000000,NaN,31.000000,NaN,NaN
max,891.000000,1.000000,3.000000,NaN,NaN,80.000000,8.000000,6.000000,NaN,512.329200,NaN,NaN

In [33]:
numerical_features = df.select_dtypes(include=["int64", "float64"]).columns.tolist()
categorical_features = df.select_dtypes(include=["object"]).columns.tolist()

binary_features = [col for col in numerical_features if df[col].nunique() == 2]
ordinal_features = ["Pclass"]  # Based on domain knowledge

feature_types = {
    "Numerical": numerical_features,
    "Categorical": categorical_features,
    "Binary": binary_features,
    "Ordinal": ordinal_features
}

feature_types

{'Numerical': ['PassengerId',
  'Survived',
  'Pclass',
  'Age',
  'SibSp',
  'Parch',
  'Fare'],
 'Categorical': ['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'],
 'Binary': ['Survived'],
 'Ordinal': ['Pclass']}

In [35]:
with open("outputs/categorical_unique_values.txt", "w") as f:
    for col in categorical_features:
        f.write(f"{col}:\n")
        f.write(str(df[col].unique()) + "\n\n")

for col in categorical_features:
    print(col, "->", df[col].nunique())

Name -> 891
Sex -> 2
Ticket -> 681
Cabin -> 147
Embarked -> 3

In [37]:
target_variable = "Survived"
input_features = df.columns.drop(target_variable)

print("Target Variable:", target_variable)
print("Input Features:", list(input_features))

Target Variable: Survived
Input Features: ['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']

In [39]:
rows, cols = df.shape
print(f"Dataset contains {rows} rows and {cols} columns.")

if rows > 100:
    print("Dataset size is suitable for machine learning.")
else:
    print("Dataset size may be insufficient for ML.")

Dataset contains 891 rows and 12 columns.
Dataset size is suitable for machine learning.

In [41]:
observations = []

if df.isnull().sum().any():
    observations.append("Dataset contains missing values.")
else:
    observations.append("No missing values detected.")

class_ratio = df[target_variable].value_counts(normalize=True)

if class_ratio.max() > 0.6:
    observations.append("Target variable shows class imbalance.")

observations.append("Dataset contains mixed data types requiring preprocessing.")

with open("outputs/observations.txt", "w") as f:
    for obs in observations:
        f.write(obs + "\n")

observations

['Dataset contains missing values.',
 'Target variable shows class imbalance.',
 'Dataset contains mixed data types requiring preprocessing.']

In [43]:
ml_readiness = """
The Titanic dataset is suitable for supervised machine learning.
It contains a clear target variable (Survived),
a mix of numerical and categorical features,
and sufficient data samples.
Preprocessing such as missing value handling
and categorical encoding is required before modeling.
"""

with open("outputs/ml_readiness.txt", "w") as f:
    f.write(ml_readiness)

ml_readiness

'\nThe Titanic dataset is suitable for supervised machine learning.\nIt contains a clear target variable (Survived),\na mix of numerical and categorical features,\nand sufficient data samples.\nPreprocessing such as missing value handling\nand categorical encoding is required before modeling.\n'